<h1>Playground#index</h1>
<p>Find me in app/views/playground/index.html.erb</p>

<br />

<% @data.each do |d| %>
	<%= d["title"] %><br />
	<%= d["description"] %><br />
	<%= d["link"] %><br />
	<%= d["date"]["month"] %><br />
	<%= d["date"]["day"] %><br />
	<%= d["date"]["year"] %><br />
	<%= d["date"]["time"] %><br />
	<%= d["attendees"] %><br />
<% end %>

<br />
<%= @data %>


		