<nav style="background-color: white;">

  <ul class="side-nav color-gathr">
  </ul>
  <ul class="side-nav fixed">
    <div class="center nav-profile">
    <%= image_tag("gathr_logo.png", :alt => "outFire", size: "35x55")%>
      <div class="">
        <%= @user.first_name %>
        <%= @user.last_name %>
      </div>
    </div>
    <li><a href="#">Events</a></li>
    <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
  </ul>
</nav>

<div class="timeline sideNav-padding">
<% @events.each do |event| %>
    <% if event.creator_id == current_user.id %>
      <div class="card">

          <!-- <div class="left">
            <%= event.title %>
            <%= event.address %>
            <%= event.start_time %>
          </div> -->

            <div class="card-right-border right teal color-gathr cv-parent">
                <%= link_to image_tag("ic-edit@2x.png", :height => "50", :alt => "edit_icon", :class => "img-center cv-child"), edit_event_path(event) %>


                <div class="btn-hm cv-parent">
                  <!-- <%= link_to "delete", {controller: "events" ,action: "destroy", id: event.id },
                                method: :delete, data: { confirm: "Are you sure?" } %> -->
                  <%= link_to image_tag("ic-trash@2x.png", :height => "50", :alt => "trash_icon", :class => "img-center cv-child"),
                  {controller: "events" ,action: "destroy", id: event.id }, method: :delete, data: { confirm: "Are you sure?" }  %>

                </div>
            </div>

            <div class="card-left">

              <div class="card-title-hm">

              <div class="left">
                  <%= image_tag("brent.jpg", :height => "50", :alt => "attendee_icon", :class => "img-circle") %>
              </div>
                <%= event.title %>
              </div>
              <div class="card-address">
                <%= event.address %>
              </div>
              <div class="card-time">
                <%= event.start_time.strftime("%m/%d/%Y %I:%M %p") %>
              </div>
              <div class="card-desc">
                <%= event.description %>
              </div>
              <div class="row">
                <div class="col s3 img-perk attendance-count">
                    <%= image_tag("Event_Attendance.png", :alt => "outFire", size: "55x45",class: "center ") %>
                    <%= event.confirmed_attendees %>
                </div>
                <div class="col s3 img-perk">
                  <% if event.food %>
                    <%= image_tag("Event_food.png", :alt => "outFire",  size: "55x45", class: "center") %>
                  <% end %>
                </div>
                <div class="col s3 img-perk">
                  <% if event.swag %>
                    <%= image_tag("Event_swag.png", :alt => "outFire" , size: "55x45", class: "center") %>
                  <% end %>
                </div>
                <div class="col s3 img-perk">
                  <% if event.prizes %>
                    <%= image_tag("Event_Prizes.png", :alt => "outFire" , size: "55x45", class: "center") %>
                  <% end %>
                </div>
              </div>

            </div>
  </div>
  <% end %>
<% end %>
</div>

 <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
   <%= link_to "+", { controller: "events", action:"new" }, class: "btn-create btn-floating btn-large waves-effect waves-light color-gathr right" %>
 </div>
