<nav style="background-color: white;">
  <ul class="side-nav color-gathr">
  </ul>
  <ul class="side-nav fixed">
    <div class="center nav-profile">
      <%= image_tag("julio.jpg", :height => "100", :alt => "attendee_icon", :class => "img-circle") %>
      <div class="">
        <%= @user.first_name %>
        <%= @user.last_name %>
      </div>
    </div>
    <li><a href="#!">Events</a></li>
    <li><a href="#!">Settings</a></li>
    <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
  </ul>
</nav>

<div class="timeline sideNav-padding">
<% @events.each do |event| %>
    <% if event.creator_id == current_user.id %>
      <div class="card">

          <!-- <div class="left">
            <%= event.title %>
            <%= event.address %>
            <%= event.start_time %>
          </div> -->

            <div class="card-right-border right teal color-gathr">

                <%= link_to image_tag("ic-edit@2x.png", :height => "50", :alt => "attendee_icon", :class => ""), edit_event_path(event) %>

                <div class="btn-hm cv-parent">
                  <%= link_to "delete", {controller: "events" ,action: "destroy", id: event.id },
                                method: :delete, data: { confirm: "Are you sure?" } %>
                </div>
            </div>

            <div class="card-left">

              <div class="card-title-hm">

              <div class="left">
                  <%= image_tag("brent.jpg", :height => "50", :alt => "attendee_icon", :class => "img-circle") %>
              </div>
                <%= event.title %>
              </div>
              <div class="card-address">
                <%= event.address %>
              </div>
              <div class="card-time">
                <!-- <%= event.start_time %> -->
                3:00pm
              </div>
              <div class="card-desc">
                <%= event.description %>
              </div>
            </div>

  <!-- <div class="btn btn<%= event.id %> waves-effect waves-light", style="margin-left: 60px;">Confirm</div> -->
   <!--    <div class="card-action">
          <div class="row">
            <div class="col s3">
                <%= image_tag("Event_Attendance.png", :alt => "outFire", size: "55x45",class: "left") %>
                <div class="card-action-attendee-count"><%= event.confirmed_attendees %></div>
            </div>
            <div class="col s3">
              <% if event.food %>
                <%= image_tag("Event_food.png", :alt => "outFire",  size: "55x45", class: "center") %>
              <% end %>
            </div>
            <div class="col s3">
              <% if event.swag %>
                <%= image_tag("Event_swag.png", :alt => "outFire" , size: "55x45", class: "center") %>
              <% end %>
            </div>
            <div class="col s3">
              <% if event.prizes %>
                <%= image_tag("Event_Prizes.png", :alt => "outFire" , size: "55x45", class: "center") %>
              <% end %>
            </div>
          </div>
        </div> -->
  </div>
  <% end %>
<% end %>
</div>

 <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
   <%= link_to "+", { controller: "events", action:"new" }, class: "btn-create btn-floating btn-large waves-effect waves-light red right" %>
 </div>
