<%= simple_form_for :event, url: events_path do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="text-center center-form">
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.input :start_time, input_html: {class:'datepicker'} %>

  <div class="field">
    <%= f.input :food, as: :boolean, boolean_style: :inline, required: false  %>
    <%= f.input :swag, as: :boolean, boolean_style: :inline, required: false %>
    <%= f.input :prizes, as: :boolean, boolean_style: :inline, required: false %>
    <!-- <%= f.input :prizes, as: :radio_buttons, boolean_style: :inline, required: false %> -->
  </div>


   <%= f.input :street %>
   <%= f.input :city %>
   <%= f.input :state %>
   <%= f.input :zip_code %>

  <div class="actions center">
    <%= f.submit class: 'btn btn-default'%>
  </div>
</div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  $('#event_start_time').click(function() {
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });
  })
})
</script>
