
<div style='width: auto; display:inline;'>
  <div id="map" style="width: 100%; height: 400px"></div>
</div>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Events</title>
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #map {
                height: 100%;
            }
            #floating-panel {
                position: absolute;
                top: 10px;
                left: 25%;
                z-index: 5;
                background-color: #fff;
                padding: 5px;
                border: 1px solid #999;
                text-align: center;
                font-family: 'Roboto','sans-serif';
                line-height: 30px;
                padding-left: 10px;
            }

            #floating-panel {
                background-color: #fff;
                border: 1px solid #999;
                left: 25%;
                padding: 5px;
                position: absolute;
                top: 10px;
                z-index: 5;
            }
        </style>
    </head>

    <body>
      <p id="notice"><%= notice %></p>


<div class="timeline">
<% @events.each do |event| %>
      <div class="card">

          <!-- <div class="left">
            <%= event.title %>
            <%= event.address %>
            <%= event.start_time %>

          </div> -->


            <div class="card-right-border right teal">
                <!--Place Btn Here-->

                <div class="btn-hm cv-parent">
                    <%= image_tag("Check@2x.png", :height => "25", :alt => "", :class => "img-center cv-child") %>
                </div>

                <div class="btn-hm cv-parent">
                  <%= image_tag("Xmark@2x.png", :height => "25", :alt => "", :class => "img-center cv-child") %>
                </div>

            </div>

            <div class="card-left">

              <div class="card-title-hm">

              <div class="left">
                  <%= image_tag("hugh.png", :height => "50", :alt => "attendee_icon", :class => "img-circle") %>
              </div>
                <%= event.title %>
              </div>
              <div class="card-address">
                <%= event.address %>
              </div>
              <div class="card-time">
                <!-- <%= event.start_time %> -->
                3:00pm
              </div>
              <div class="card-desc">
                <!-- event_description -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              </div>
            </div>




        <!-- <div class="btn btn<%= event.id %> waves-effect waves-light", style="margin-left: 60px;">Confirm</div> -->

   <!--    <div class="card-action">
          <div class="row">
            <div class="col s3">
                <%= image_tag("Event_Attendance.png", :alt => "outFire", size: "55x45",class: "left") %>
                <div class="card-action-attendee-count"><%= event.confirmed_attendees %></div>
            </div>
            <div class="col s3">
              <% if event.food %>
                <%= image_tag("Event_food.png", :alt => "outFire",  size: "55x45", class: "center") %>
              <% end %>
            </div>
            <div class="col s3">
              <% if event.swag %>
                <%= image_tag("Event_swag.png", :alt => "outFire" , size: "55x45", class: "center") %>
              <% end %>
            </div>
            <div class="col s3">
              <% if event.prizes %>
                <%= image_tag("Event_Prizes.png", :alt => "outFire" , size: "55x45", class: "center") %>
              <% end %>
            </div>
          </div>
        </div> -->
  </div>

  <script>
  $(".btn" + <%= event.id %>).click(function() {
    $.get( "/event/increment/" + <%= event.id %>, function( data ) {
      alert( "You have been confirmed!" );
    });
  })
  </script>
<% end %>

</div>
<script>
function initMap() {

    centerLat = 0;
    centerLng = 0;
    count = 0;
    <% @events.each do |event| %>
        tmpLat = <%= event.latitude %>;
        tmpLng = <%= event.longitude %>;
        tmpPosition = {lat: tmpLat, lng: tmpLng};
        centerLat = centerLat + tmpLat;
        centerLng = centerLng + tmpLng;
        count += 1;
    <% end %>
    centerLat = centerLat / count;
    centerLng = centerLng / count;
    center = { lat: centerLat, lng: centerLng };
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: center,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    heatmap = new google.maps.visualization.HeatmapLayer({
        data: getPoints(),
        map: map
    });
    heatmap.set('radius', 50);

    events = getEvents();

    var infoWindow = new google.maps.InfoWindow(), marker, i;
    for (i = 0; i < events.length; i++) {
        tmpPosition = events[i].position;

        console.log(events[i].title);
        contentString = '<b><h5>' + events[i].title + '</h5></b>' +
        '<p>Event Address</p>';

        marker = new google.maps.Marker({
            position: tmpPosition,
            map: map,
            title: events.title
        });
        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(
                    '<b><h5>' + events[i].title + '</h5></b>' +
                    '<p>Event Address</p>'
                );
                infoWindow.open(map, marker);
            }
        })(marker, i));
    }

    // Allow each marker to have an info window
    google.maps.event.addListener(map, "click", function(event) {
        infoWindow.close();
    });
}

function toggleHeatmap() {
    heatmap.setMap(heatmap.getMap() ? null : map);
}

function changeGradient() {
    var gradient = [
        'rgba(0, 255, 255, 0)',
        'rgba(0, 255, 255, 1)',
        'rgba(0, 191, 255, 1)',
        'rgba(0, 127, 255, 1)',
        'rgba(0, 63, 255, 1)',
        'rgba(0, 0, 255, 1)',
        'rgba(0, 0, 223, 1)',
        'rgba(0, 0, 191, 1)',
        'rgba(0, 0, 159, 1)',
        'rgba(0, 0, 127, 1)',
        'rgba(63, 0, 91, 1)',
        'rgba(127, 0, 63, 1)',
        'rgba(191, 0, 31, 1)',
        'rgba(255, 0, 0, 1)'
    ]
    heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
}

function changeRadius() {
    heatmap.set('radius', heatmap.get('radius') ? null : 50);
}

function changeOpacity() {
    heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
}

function getEvents() {
    // Available attributes...
    // title, start_time, food, swag, prizes, confirmed_attendees, declined_attendees, street, city, state, zip_code
    return [
        <% @events.each do |event| %>
        {
            title: '<%= event.title %>',
            position: {
                lat: <%= event.latitude %>,
                lng: <%= event.longitude %>
            },
            confirmed_attendees: <%= event.confirmed_attendees %>,
            // declined_attendees: <%= event.declined_attendees %>,
            street: '<%= event.street %>',
            city: '<%= event.city %>',
            state: '<%= event.state %>',
            zip_code: <%= event.zip_code %>
        },
        <% end %>
    ];
}

// Heatmap data: 500 Points
function getPoints() {
    return [
        <% @events.each do |event| %>
        {
            location: new google.maps.LatLng(<%= event.latitude %>, <%= event.longitude %>),
            weight: <%= event.confirmed_attendees %>
        },
        <% end %>
    ];
}

</script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIP5p2T5wk1ItO-FG0ZKAsZhrknSGC5Nk&signed_in=true&libraries=visualization&callback=initMap">
    </script>
  </body>
</html>
