<p id="notice"><%= notice %></p>

<!-- <h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>Food</th>
      <th>Swag</th>
      <th>Prizes</th>
      <th>Confirmed attendees</th>
      <th>Declined attendees</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.start_time %></td>
        <td><%= event.food %></td>
        <td><%= event.swag %></td>
        <td><%= event.prizes %></td>
        <td><%= event.confirmed_attendees %></td>
        <td><%= event.declined_attendees %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br> -->

<% @events.each do |event| %>
<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <span class="card-title">
            <%= event.title %>
          </span>
        </div>
        <div class="card-content">
          <p><%= event.title %></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
<% end %>


<%= link_to 'New Event', new_event_path %>
